@font-face {
  font-family: galano grotesque alt;
  src: url('../fonts/GalanoGrotesqueAltBlack.otf') format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neuehaasgrotdisp 55 Roman";
  src: url('../fonts/NeueHaasGrotDisp-55Roman.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neuehaasgrotdisp 45";
  src: url('../fonts/NeueHaasGrotDisp-45Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: white;
  --sc-tomato: #fa3536;
  --sc_bg: #fffcf6;
  --black: black;
  --cream: #fffcf0;
  --orange: #f6503d;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #000;
  font-family: Inter Variablefont Slnt Wght;
  font-weight: 500;
  text-decoration: none;
  transition: color .2s;
}

img {
  display: inline-block;
}

.home {
  align-self: center;
}

.link {
  color: #000;
  border-radius: 100px;
  padding: 25px 50px;
  font-family: Inter Variablefont Slnt Wght;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: background-color .2s;
  display: inline-block;
}

.link:hover {
  color: #f9d5c1;
  background-color: #a01d4c;
  border-radius: 100px;
}

.link:active {
  background-color: #ec8974;
}

.link.posterpage {
  padding-top: 17px;
  padding-bottom: 17px;
  font-family: galano;
  font-weight: 500;
}

.link.posterpage:hover {
  color: #000;
  background-color: #f6b12a;
}

.link.posterpage.w--current {
  margin-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.link.posterpage.projectpage {
  color: #f89731;
}

.link.posterpage.projectpage:hover {
  color: #3b33a2;
  background-color: #f89731;
}

.link.posterpage.posterposterpage:hover {
  background-color: #ff5050;
}

.link.posterpage.wine:hover {
  color: #f9d5c1;
  background-color: #a01d4c;
}

.link.posterpage.spoke:hover {
  color: #f9d5c1;
  background-color: #be1e2d;
}

.link.posterpage.spoke.w--current:hover {
  background-color: #be1e2d;
}

.footer-links {
  font-family: Inter Variablefont Slnt Wght;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}

.footer-links.hoverfooterlinks {
  color: #000;
  transition: color .2s;
}

.footer-links.hoverfooterlinks:hover {
  color: #ff3d3d;
}

.navbar {
  z-index: 80;
  background-color: var(--white);
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 20px;
  display: flex;
  position: fixed;
}

.description {
  grid-column-gap: 51px;
  grid-row-gap: 51px;
  flex-flow: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 500px;
  margin-top: 0;
  margin-left: 32px;
  display: flex;
}

.wrapper-for-project-grids {
  background-color: #fff;
  width: 100%;
  position: relative;
}

.h2 {
  color: #383838;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Nextpanbook;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.h2.about-me {
  font-size: 2vw;
  line-height: 1.2;
}

.div-block-44 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: -16px;
  display: flex;
}

.lottie-animation {
  z-index: 5;
  width: 40px;
  position: static;
  top: 60px;
  left: 40px;
}

.logo.w--current {
  position: sticky;
}

.tablet-hamborgor {
  display: none;
}

.griditemprint {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.lightboxpin {
  width: 100%;
  margin-bottom: 7px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
  position: static;
}

.heading-17 {
  color: #796452;
  font-family: galano grotesque alt, Verdana, sans-serif;
}

.text-block-11 {
  color: #796452;
  font-family: "Neuehaasgrotdisp 55 Roman", Arial, sans-serif;
}

.lottie-animation-2 {
  margin-bottom: -40px;
}

.lottie-animation-3 {
  position: absolute;
}

.div-block-56 {
  position: relative;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.page-transition {
  z-index: 999999;
  pointer-events: none;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
}

.logo_container {
  width: 40px;
}

.logo_container.footer {
  opacity: .5;
}

.div-block-73 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.link-4 {
  text-transform: none;
  font-family: Nextpanbook;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  text-decoration: none;
  transition: color .175s cubic-bezier(.645, .045, .355, 1);
}

.link-4:hover {
  color: #ff3566;
}

.newfooter {
  z-index: 1;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 40px 24px 20px 0;
  display: flex;
  position: static;
}

.newfooter.home {
  padding-left: 24px;
  padding-right: 24px;
}

.image-126 {
  width: 100%;
  height: 100%;
}

.sc_header {
  background-color: var(--sc-tomato);
  padding-top: 90px;
}

.sc_header.creditless {
  margin-bottom: 200px;
}

.sc_h1 {
  color: var(--sc_bg);
  width: 100%;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Neuehaasgrotdisp 55 Roman", Arial, sans-serif;
  font-size: 12vw;
  font-weight: 400;
  line-height: 107%;
}

.sc_h1.menu_link {
  padding-left: 0;
  padding-right: 0;
  font-size: 130px;
  transition: font-size .3s cubic-bezier(.445, .095, .25, 1);
}

.sc_h1.menu_link:hover {
  font-size: 150px;
}

.sc_h1.red {
  color: var(--sc-tomato);
  font-weight: 400;
  line-height: 130%;
}

.sc_p {
  margin-top: 34px;
  font-family: "Neuehaasgrotdisp 45", Arial, sans-serif;
  font-size: 34px;
  line-height: 160%;
}

.sc_p.cap {
  color: var(--black);
  text-transform: uppercase;
}

.sc_p.cap.red {
  color: var(--sc-tomato);
  max-width: 720px;
}

.sc_p.cap.white {
  color: var(--sc_bg);
  margin-top: 0;
}

.sc_p.cap.white.hamburger {
  font-size: 20px;
}

.sc_p.sc_plink {
  margin-top: 0;
  transition: color .2s;
}

.sc_p.sc_plink:hover {
  color: var(--sc-tomato);
}

.sc_article_credit {
  margin-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.sc_paragraph_block {
  margin-bottom: 155px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 20px;
}

.sc_paragraph_block.landing {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.sc_h2 {
  color: var(--sc-tomato);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Neuehaasgrotdisp 55 Roman", Arial, sans-serif;
  font-size: 73px;
  font-weight: 400;
  line-height: 160%;
}

.image-148 {
  width: 100%;
  margin-bottom: 40px;
}

.sc_previous_next {
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.sc_footer_links {
  text-transform: uppercase;
  font-family: "Neuehaasgrotdisp 45", Arial, sans-serif;
  font-size: 16px;
}

.sc_footer_links:hover {
  color: var(--sc-tomato);
}

.div-block-93 {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: 140px;
  padding-bottom: 20px;
  padding-right: 20px;
  display: flex;
}

.div-block-94 {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.sc_body {
  background-color: var(--sc_bg);
}

.image-150 {
  width: 100%;
}

.image-151 {
  margin-bottom: 40px;
}

.sch_wl {
  background-color: var(--black);
  width: 52px;
  height: 5px;
}

.sc_hamburger_menu {
  z-index: 1;
  flex-flow: column;
}

.sc_hamburger_menu_lines {
  z-index: 10;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-flow: column;
  width: 52px;
  margin-top: 40px;
  margin-right: 40px;
  display: flex;
  position: fixed;
  inset: 0% 0% auto auto;
}

.div-block-96 {
  z-index: 5;
  justify-content: flex-end;
  align-items: stretch;
  width: auto;
  display: flex;
  position: fixed;
  inset: 0% 0% 0% auto;
}

.sch_flexbox {
  background-color: var(--sc-tomato);
  flex-flow: column;
  order: 9999;
  justify-content: space-between;
  align-items: stretch;
  width: 30vw;
  height: 100%;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  position: absolute;
  inset: 0% 0% auto auto;
}

.sch_content_link {
  border-bottom: 1px solid var(--sc_bg);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all .2s;
}

.sch_content_link:hover {
  border-bottom-width: 10px;
}

.div-block-98 {
  flex-flow: column;
  display: flex;
}

.sc_mainmenu_wrapper {
  height: 50vh;
  margin-top: 220px;
  margin-bottom: 220px;
  position: relative;
}

.sc_mainmenu_item {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: 20px;
  transition: all .3s cubic-bezier(.52, .049, .25, 1);
  display: flex;
  position: absolute;
}

.sc_mainmenu_item:hover {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
}

.sc_mainmenu_item._2 {
  top: 147px;
  left: 12%;
}

.sc_mainmenu_item._3 {
  top: -37px;
  left: 26%;
}

.sc_mainmenu_item._4 {
  top: 82px;
  left: 35%;
}

.sc_mainmenu_item._5 {
  top: 127px;
  left: 52%;
}

.sc_mainmenu_item._6 {
  top: -104px;
  right: 26%;
}

.sc_mainmenu_item._7 {
  top: 47px;
  right: 20%;
}

.sc_mainmenu_item._8 {
  top: 193px;
  right: 4%;
}

.sc_redcircle {
  background-color: var(--sc-tomato);
  border-radius: 20px;
  width: 17px;
  height: 17px;
}

.sc_menu_text {
  text-transform: uppercase;
  font-family: "Neuehaasgrotdisp 45", Arial, sans-serif;
  font-size: 16px;
}

.sc_menu_text.red {
  color: var(--sc-tomato);
  line-height: 26px;
}

.sc_menu_item_text_block {
  margin-bottom: 15px;
}

.sc_pagebuttons {
  height: 80px;
  transition: all .2s;
}

.sc_pagebuttons:hover {
  height: 90px;
}

.div-block-99 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-flow: column;
  display: flex;
}

.sc_home_mobile_content {
  display: none;
}

@media screen and (max-width: 991px) {
  .description {
    margin-top: 0;
  }

  .h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
  }

  .pagelinks {
    width: 100%;
    text-decoration: none;
  }

  .div-block-44 {
    margin-top: -28px;
  }

  .lottie-animation {
    z-index: 6;
    width: 40px;
    left: 20px;
  }

  .tablet-hamborgor {
    z-index: 6;
    width: 35px;
    height: 30px;
    display: none;
    position: fixed;
    inset: 4% 20px auto auto;
  }

  .line-div {
    z-index: 6;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 25px;
    height: 20px;
    display: flex;
    position: fixed;
    top: 60px;
  }

  .line-1 {
    background-color: #796452;
    width: 100%;
    height: 4px;
  }

  .line-2 {
    background-color: #796452;
    width: 80%;
    height: 4px;
  }

  .line-3 {
    background-color: #796452;
    width: 100%;
    height: 4px;
  }

  .tablethamdiv {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: #eeeeee59;
    width: 100%;
    height: 100%;
    padding-top: 134px;
    padding-left: 20px;
    padding-right: 143px;
    display: none;
    position: fixed;
    inset: 0%;
  }

  .tabmenuheader {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Galano Grotesque;
    font-size: 28px;
    font-weight: 500;
  }

  .project-div {
    text-decoration: none;
    display: flex;
  }

  .project-div.w--current {
    text-decoration: none;
  }

  .image-111 {
    width: 26px;
    height: 39px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4px;
  }

  .link-block-3, .link-block-4, .illustration-hamburger {
    text-decoration: none;
  }

  .sc_header.creditless {
    margin-bottom: 100px;
  }

  .sc_h1 {
    font-size: 100px;
    line-height: 120%;
  }

  .sc_p {
    font-size: 30px;
    line-height: 170%;
  }

  .sc_h2 {
    font-size: 50px;
  }

  .sc_previous_next {
    height: 70px;
  }

  .sc_footer_links {
    font-size: 13px;
  }

  .div-block-93 {
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 20px;
    padding-right: 0;
  }

  .sch_wl {
    width: 40px;
  }

  .sc_hamburger_menu_lines {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: auto;
  }

  .sch_flexbox {
    width: 60vw;
  }

  .sch_content_link {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sc_pagebuttons, .sc_pagebuttons:hover {
    height: 70px;
  }
}

@media screen and (max-width: 767px) {
  .footer-links.hoverfooterlinks {
    font-size: 20px;
  }

  .navbar {
    display: none;
  }

  .description {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-top: 0;
    margin-left: 0;
    font-size: 15px;
  }

  .h2 {
    line-height: 3vh;
  }

  .h2.about-me {
    font-size: 4vw;
  }

  .lottie-animation {
    z-index: 6;
  }

  .logo {
    z-index: 100;
    position: fixed;
    inset: 5% auto auto 4%;
  }

  .tablet-hamborgor {
    display: flex;
    inset: 2% auto auto 4%;
  }

  .line-div {
    justify-content: space-between;
    align-items: flex-end;
    top: 18px;
    right: 20px;
  }

  .line-1 {
    background-color: #000;
    width: 100%;
  }

  .line-1.brown {
    background-color: #796452;
  }

  .line-2 {
    background-color: #000;
  }

  .line-2.brown {
    background-color: #796452;
  }

  .line-3 {
    background-color: #000;
    width: 100%;
  }

  .line-3.brown {
    background-color: #796452;
  }

  .tablethamdiv {
    z-index: 1;
    background-color: #ff3566;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 60px;
    display: none;
  }

  .tablehamcontent {
    flex-flow: column;
    display: flex;
  }

  .tabmenuheader {
    color: #fffcf9;
    margin-top: 0;
    font-family: Nextpanbook;
    font-size: 20px;
    line-height: 28px;
  }

  .image-111 {
    height: auto;
  }

  .white-blockinham {
    z-index: 1;
    background-color: var(--white);
    width: 100%;
    height: 60px;
    position: fixed;
    inset: 0% auto auto 0%;
  }

  .logo_container {
    order: 1;
    display: block;
  }

  .div-block-73 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .link-4 {
    color: #c8b5a1;
    font-size: 12px;
  }

  .link-4.hamburger {
    color: #fffcf9;
  }

  .newfooter.home {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    display: flex;
  }

  .image-126 {
    display: inline-block;
  }

  .sc_previous_next {
    justify-content: space-between;
    align-items: center;
  }

  .sch_flexbox {
    width: 100vw;
  }

  .sc_mainmenu_wrapper {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .footer-links.hoverfooterlinks {
    font-size: 18px;
  }

  .description {
    flex-flow: column;
    margin-left: 0;
  }

  .navcomp {
    padding-bottom: 112px;
    padding-left: 0;
  }

  .h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
  }

  .h2.about-me {
    font-size: 16px;
    line-height: 16px;
  }

  .pagelinks {
    width: 100%;
    margin-top: 0;
    text-decoration: none;
  }

  .div-block-44 {
    margin-top: 0;
  }

  .lottie-animation {
    z-index: 7;
    width: 50px;
    top: 28px;
    left: 13px;
  }

  .logo {
    position: static;
    top: 3%;
    left: 6%;
  }

  .logo.w--current {
    top: 5%;
  }

  .tablet-hamborgor {
    padding-left: 10px;
    position: fixed;
    top: 4.5%;
  }

  .line-div {
    z-index: 10;
    inset: 25px 20px auto auto;
  }

  .tablethamdiv {
    background-color: #ff3566;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    padding-top: 65px;
    padding-left: 0;
    padding-right: 0;
    display: none;
  }

  .tablehamcontent {
    flex-flow: column;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 24px;
    display: flex;
  }

  .tabmenuheader {
    color: #fffcf9;
    white-space: nowrap;
    margin-top: 0;
    font-family: Nextpanbook;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .project-div {
    text-decoration: none;
  }

  .image-111 {
    height: auto;
    margin-top: 0;
    margin-left: 5px;
  }

  .link-block-3, .link-block-4 {
    text-decoration: none;
  }

  .white-blockinham {
    z-index: 0;
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    inset: 0% auto auto 0%;
  }

  .link-4.hamburger {
    color: #fffcf9;
  }

  .newfooter.home {
    display: flex;
  }

  .illustration-hamburger {
    text-decoration: none;
  }

  .illustration-hamburger.w--current {
    display: flex;
  }

  .sc_header.creditless {
    margin-bottom: 40px;
  }

  .sc_h1 {
    font-size: 40px;
    line-height: 55px;
  }

  .sc_h1.menu_link, .sc_h1.menu_link:hover, .sc_h1.menu_link.w--current:hover {
    font-size: 70px;
  }

  .sc_h1.red {
    margin-top: 70px;
  }

  .sc_p {
    font-family: "Neuehaasgrotdisp 55 Roman", Arial, sans-serif;
    font-size: 16px;
    line-height: 180%;
  }

  .sc_p.cap.red.home {
    align-self: flex-start;
    margin-top: 0;
    font-family: "Neuehaasgrotdisp 55 Roman", Arial, sans-serif;
    line-height: 19px;
  }

  .sc_p.cap.red.home.first {
    order: -9999;
  }

  .sc_p.cap.white.hamburger {
    line-height: 110%;
  }

  .sc_p.cap.mobile {
    text-transform: none;
    margin-bottom: 30px;
  }

  .sc_article_credit {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .sc_paragraph_block {
    margin-bottom: 70px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .sc_h2 {
    font-size: 27px;
    line-height: 140%;
  }

  .sc_previous_next {
    height: 50px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .div-block-93 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    padding-bottom: 24px;
    padding-left: 24px;
  }

  .sch_wl {
    width: 30px;
    height: 4px;
  }

  .sc_hamburger_menu_lines {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-right: 24px;
  }

  .div-block-96 {
    display: flex;
  }

  .sch_flexbox {
    grid-column-gap: 19px;
    grid-row-gap: 19px;
    justify-content: flex-start;
    align-items: stretch;
    display: none;
  }

  .sch_content_link {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sc_pagebuttons, .sc_pagebuttons:hover {
    height: 40px;
  }

  .sc_home_mobile_content {
    padding-left: 24px;
    padding-right: 24px;
    display: block;
  }

  .sc-menu-h3 {
    text-transform: uppercase;
    font-family: "Neuehaasgrotdisp 55 Roman", Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
  }

  .sc-menu-h3.last {
    order: 9999;
  }

  .sc-page-link-div {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    position: absolute;
  }

  .sc-page-link-div._2 {
    top: 75px;
    left: 50px;
  }

  .sc-page-link-div._3 {
    top: 160px;
    left: 140px;
  }

  .sc-page-link-div._4 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: row;
    top: 241px;
  }

  .sc-page-link-div._5 {
    top: 281px;
    left: 140px;
  }

  .sc-page-link-div._6 {
    top: 365px;
  }

  .sc-page-link-div._7 {
    flex-flow: row;
    width: 100%;
    top: 527px;
    bottom: 527px;
  }

  .sc-page-link-div._8 {
    top: 441px;
    bottom: 441px;
  }

  .sc-page-link-div._9 {
    top: 557px;
  }

  .sc-page-link-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    height: 610px;
    margin-top: 100px;
    display: flex;
    position: relative;
  }

  .sc-red-circle {
    background-color: var(--sc-tomato);
    border-radius: 20px;
    width: 16px;
    height: 16px;
  }

  .div-block-100 {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    display: flex;
  }

  .image-152 {
    padding-bottom: 43px;
  }
}


@font-face {
  font-family: 'galano grotesque alt';
  src: url('../fonts/GalanoGrotesqueAltBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neuehaasgrotdisp 55 Roman';
  src: url('../fonts/NeueHaasGrotDisp-55Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neuehaasgrotdisp 45';
  src: url('../fonts/NeueHaasGrotDisp-45Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}